<nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- <img src="../assets/images/thinkbridge.png" alt="Logo" height="50" width="30"> -->
               ShopBridge
            </a>
        </div>


        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>