.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(63, 60, 60);
    color: white;
    text-align: center;
   
    padding: 15px;
 }