<div class="row">
    <div class="col-xs-12">
      <h4><b> Name: </b></h4> <p>{{inventoryElement.name}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
     <h4><b>Description :</b>  </h4> <p>{{inventoryElement.description}}</p>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4><b>Inventory Items:</b></h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item name</th>
                    <th>Amount</th>
                    <th>price</th>

                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of inventoryElement.Items">
                    <td>{{item.itemname}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.price}}</td>
                </tr>

            </tbody>

        </table>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Inventory
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onEditInventory()">Edit Inventory</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteInventory()">Delete Inventory</a></li>
            </ul>
        </div>
    </div>

</div>