<div class="row">
    <div class="col-xs-12">
        <button class="btn bg-primary" (click)="onAddNew()">New Inventory</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
       <app-inventory-item
       *ngFor="let item of inventoryList; let i =index"
       [invItem] ="item"
       [index]='i'
       ></app-inventory-item>
       
    </div>

</div>

 
