<div class="container" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="row">
        <div class="col-md-5">
            <app-inventory-list></app-inventory-list>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet> 
    
        </div>
    </div>
    </div>
        
        
    
    