<a style="cursor: pointer;" 
[routerLink]=[index]
routerLinkActive="active"
class="list-group-item clearfix" >
    <div class="float-md-left">
        <!-- String interpolation-->
        <h4 class="list-group-item-heading"> {{ invItem.name}}</h4>
        <p class="list-group-item-text">{{ invItem.description }}</p>
    </div>
   
</a>