<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
           
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
           
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="discription">Description</label>
                        <textarea name="discription" id="discription" rows="3" class="form-control"
                            formControlName="discription"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="Items">
                    <div class="row"
                        *ngFor="let itemtctrl of getControls(); let i =index"
                        [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <!-- <label for="rname">Rname</label> -->
                            <input type="text" class="form-control" placeholder="Item Name" formControlName="itemname">
                        </div>
                        <div class="col-xs-2">
                            <!-- <label for="ramount">Amount</label> -->
                            <input type="number" class="form-control" placeholder="amount" formControlName="amount">

                        </div>
                        <div class="col-xs-2">
                            <!-- <label for="ramount">Amount</label> -->
                            <input type="number" class="form-control" placeholder="price" formControlName="price">

                        </div>
                        <div class="col-xs-2">

                            <button class="btn btn-danger" type="button" (click)="onDeleteItem(i)">X</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="addItem()">Add item</button>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" 
                    type="submit"
                    [disabled]="!inventoryForm.valid">Save</button>&nbsp;
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>